.logo {
	position: absolute;
    left: 820px;
    top: 24px;
    width: 174px;
    }
    
.bkg {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0px;
	top: 0px;
	}

#maincopy {
	width: 550px;
	position: absolute;
    left: 450px;
    top: 150px;
    right: 1000px;
    }

h1 {
	font-family: GillSans-SemiBold;
	font-size: 40pt;
	color: #00746b;
	}
	
a {
	font-family: GillSans;
	font-size: 10pt;
	color: #00a99d;
	text-decoration: none;
}

#italsubhead {
	font-family: GillSans-SemiBoldItalic;
	font-size: 20pt;
	color: #1cbbb4;
	}
	
#italcopy {
	font-family: GillSans-Lightitalic;
	font-size: 20pt;
	color: #505050;
	}

.btn {
	position: absolute;
	}
	
	
.btn-text {
	font-family: GillSans;
	font-size: 20pt;
	color: #ffffff;
	text-align: left;
	position: absolute;
	top: 0px;
	padding: 0px 0px 0px 20px;
	}
	
.btn-tealbox {
	width: 200px;
	height: 80px;
	background: #1cbbb4;
	}
	
.btn-greenline {
	width: 200px;
	height: 10px;
	position: absolute;
	margin: 5px 0px 0px 0px;
	background: #abeb54;
	}
	
.arrow {
	position: absolute;
    left: 150px;
    top: 28px;
	width: 15px;
	height: 25px;
	padding: 0px 0px 0px 20px;
	}

#topnav {
	position: absolute;
    left: 220px;
    top: 0px;
    text-align: center;
    }
    
#topnav-greenline1 {
	width: 100px;
	height: 6px;
	background: #abeb54;
	position: absolute;
    left: 0px;
    top: 0px;
	}
	
#topnav-greenline2 {
	width: 100px;
	height: 6px;
	background: #abeb54;
	position: absolute;
    left: 150px;
    top: 0px;
	}
	
#topnav-greenline3 {
	width: 100px;
	height: 6px;
	background: #abeb54;
	position: absolute;
    left: 300px;
    top: 0px;
	}
	
#topnav-greenline4 {
	width: 100px;
	height: 6px;
	background: #abeb54;
	position: absolute;
    left: 450px;
    top: 0px;
	}

.topnavtitle {
	margin: 50, 0, 0, 0;
	}
    
#topnav ul {
	list-style-type: none;
 	}
 	
