.logo {
	position: absolute;
    left: 820px;
    top: 24px;
    width: 174px;
    }
    
.bkg {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0px;
	top: 0px;
	}

h1 {
	font-family: GillSans-SemiBold;
	font-size: 70px;
	color: #00746b;
	position: absolute;
	left: 250px;
    top: 120px;
	}
	
#marc {
	position: absolute;
    left: -500px;
    top: 80px;
	opacity: 0.4;
	}

#maincopy {
	width: 500px;
	position: absolute;
    left: 450px;
    top: 250px;
    }

a, li {
	font-family: GillSans;
	font-size: 15px;
	color: #00a99d;
	text-decoration: none;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: GillSans;
	}

h1 span {
	font-family: GillSans-Light;
	}

#titletext {
	font-family: GillSans-Light;
	font-size: 35px;
	color: #00746b;
	}

#italsubhead {
	font-family: GillSans-SemiBoldItalic;
	font-size: 35px;
	color: #1cbbb4;
	}
	
#italcopy {
	font-family: GillSans-Lightitalic;
	font-size: 35px;
	color: #505050;
	}

.btn {
	position: absolute;
	}
	
.btn-text {
	font-family: GillSans;
	font-size: 30px;
	color: #ffffff;
	text-align: left;
	position: absolute;
	top: -5px;
	padding: 0px 0px 0px 20px;
	}
	
.btn-tealbox {
	width: 250px;
	height: 80px;
	background: #1cbbb4;
	}
	
.btn-greenline {
	width: 250px;
	height: 10px;
	position: absolute;
	margin: 5px 0px 0px 0px;
	background: #abeb54;
	}
	
.arrow {
	position: absolute;
    left: 180px;
    top: 30px;
    width: 15px;
    height: 25px;
	padding: 0px 0px 0px 20px;
	}
	
#top {
	position: absolute;
    left: 220px;
    top: 0px;
    text-align: center;
    }
	
.topnav li {
	background: url(images/topnav-greenline.png) no-repeat;
	padding: 12px 0px 0px 0px;
    list-style:none;
	}
    
#topnav-greenline1, #topnav-greenline2, #topnav-greenline3, #topnav-greenline4 {
	width: 100px;
	height: 20px;
	position: absolute;
    top: 0px;
	}
	
#topnav-greenline1 {
    left: 0px;
	}
	
#topnav-greenline2 {
    left: 150px;
	}
	
#topnav-greenline3 {
    left: 300px;
	}
	
#topnav-greenline4 {
    left: 450px;
	}
	
	
	
ul {
	width:200px;
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	}
	
.genderselection {
	position: absolute;
	left: 10px;
	font-family: GillSans-Light;
	font-size: 40px;
	color: #d3d3d3;
	text-align:center;
	}
	
.side {
	position: absolute;
	left: 0px;
	top: 90px;
	}

.sidebtn1, .sidebtn2, .sidebtn3, .sidebtn4, .sidebtn5 {
	float:left;
	width: 190px;
	line-height: 40px;
	padding: 0 0 0 10px;
	border-top: #00a99d 5px solid;
	
	font-family: GillSans-Light;
	font-size: 18px;
	color: #abeb54;
	list-style:none;
		
	background: #3a3a3a; /* Old browsers */
	background: -moz-linear-gradient(top,  #3a3a3a 0%, #5b5b5b 25%, #5b5b5b 70%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(25%,#5b5b5b), color-stop(70%,#5b5b5b), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3a3a3a 0%,#5b5b5b 25%,#5b5b5b 70%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3a3a3a 0%,#5b5b5b 25%,#5b5b5b 70%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3a3a3a 0%,#5b5b5b 25%,#5b5b5b 70%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3a3a3a 0%,#5b5b5b 25%,#5b5b5b 70%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
	}
	
.active {
	height: 40px;
	color: #FFFFFF;

	border-top: #abeb54 5px solid;
	border-bottom: #abeb54 5px solid;
	
	background: #1cbbb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #1cbbb4 0%, #12827d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cbbb4), color-stop(100%,#12827d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1cbbb4 0%,#12827d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1cbbb4 0%,#12827d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1cbbb4 0%,#12827d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1cbbb4 0%,#12827d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cbbb4', endColorstr='#12827d',GradientType=0 ); /* IE6-9 */
	}
	
.inactive {
	height: 40px;
	}
	
.inactive-fakeline {
	height: 40px;
	border-top: none;
	}
	
.visited {
	height: 120px;
	}

.last-nav-item {
	border-bottom: #00a99d 5px solid;
	}
